In [1]:
import pandas as pd # manipulação de dado em formato de dataframe
import seaborn as sns # biblioteca de visualização de informações estatísticas
import matplotlib.pyplot as plt # biblioteca de visualização de dados
import statsmodels.api as sm # biblioteca de modelagem estatística
import numpy as np # biblioteca para operações matemáticas multidimensionais
from statsmodels.iolib.summary2 import summary_col
from skimage import io
import plotly.graph_objs as go
from scipy.stats import pearsonr
from sklearn.preprocessing import LabelEncoder

In [ ]:
#Dados INMET
# https://www.kaggle.com/datasets/gregoryoliveira/brazil-weather-information-by-inmet/data

## Carregando Dados Metereologicos

In [27]:
years = [2017,2018,2019,2020,2021,2022]
dfs = []
for y in years:
    df = pd.read_csv(f'DadosClima/weather_sum_{y}.csv')
    df['data'] = pd.to_datetime(df['DATA (YYYY-MM-DD)'], format='%Y-%m-%d')
    df['anomes'] = (df['data'].dt.strftime('%Y')+df['data'].dt.strftime('%m')).astype('int')
    dfs.append(df)
df_concat = pd.concat(dfs)
medidas = {
    'rain_max':'max',
    'temp_avg':'mean',
    'temp_max':'max',
    'temp_min':'min',
    'hum_max':'max',
    'hum_min':'min'
    }
nome_colunas = ['rain_max', 'temp_avg', 'temp_max',
       'temp_min', 'hum_max', 'hum_min']
df_clima = df_concat.groupby('anomes').agg(medidas)
df_clima.columns = nome_colunas
df_clima = df_clima.reset_index()
df_clima

    anomes  rain_max   temp_avg  temp_max  temp_min  hum_max  hum_min
0   201701      73.2  25.284434      40.3       6.8    100.0     10.0
1   201702      73.4  25.068338      43.4       0.0    100.0     10.0
2   201703      88.2  24.664172      44.4       0.0    100.0     10.0
3   201704      69.0  23.633085      39.0      -1.1    100.0     10.0
4   201705      62.8  22.874840      39.2       4.1    100.0     10.0
..     ...       ...        ...       ...       ...      ...      ...
67  202208      56.6  21.568882      39.7      -6.4    100.0      7.0
68  202209      51.2  22.692815      40.8      -2.5    100.0      7.0
69  202210      71.8  24.195787      41.1       2.5    100.0      7.0
70  202211      81.2  23.288673      43.0      -1.2    100.0      7.0
71  202212      86.6  24.187849      41.4       5.1    100.0      7.0

[72 rows x 7 columns]

In [28]:
df_clima.to_csv('DadosClima.csv')